html {
  font-family: Arial;
}

body {
  background-color: #323c54;
}

a, p, span{
  color: #8f9dbc;
  text-decoration: none;
}

a:hover {
  color: #b9b9b9;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  align-items:center;
}

#info {
  margin: 25px;
}
